<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Info Update</title>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script th:src="@{/js/mypage.js}" defer></script>
<script type="text/javascript">
function openInPopup(url) {
        window.open(url, '_blank', 'width=800,height=600,scrollbars=yes,resizable=yes');
    }
</script>  
</head>
<body>
<a id="chatbot-icon" href="javascript:void(0);" onclick="openInPopup('/chat')"><i class="fas fa-robot"></i></a><br>
<a id="calorie-icon" href="javascript:void(0);" onclick="openInPopup('/cal')"><i class="fas fa-calculator"></i></a>
    <!-- 헤더 -->
    <th:block th:insert="~{include/header}"></th:block>

	<!-- 메뉴 -->
    <th:block th:insert="~{mypage/menu}"></th:block>
    
    <div class="container1">
        
        <!-- 개인정보 수정 내용 -->
        <section id="infoUpdate">
            <div id="content">
                <h3>개인정보 수정하기</h3>
                <form action="update_info" id="update_info" method="post" name="formm">
                    <fieldset>
                        <label>아이디 : </label>
                        <input type="text" name="id2" id="id2" th:value="${loginUser.id.length() > 15 ? '네이버 계정' : loginUser.id}" readonly placeholder="수정 불가"><br>
                        <input type="hidden" name="id" id="id" th:value="${loginUser.id}" readonly placeholder="수정 불가">
                        <th:block th:if="${loginUser.id.length() < 15}">
                        <label>이름 : </label>
                        <input type="text" name="name" id="name" th:value="${loginUser.name}" readonly placeholder="수정 불가"><br>
                        <label>이메일 : </label>
                        <input type="email" name="email" id="email" th:value="${loginUser.email}" readonly><br>
                        <label>전화번호 : </label>
                        <input type="text" name="telephone" id="telephone" th:value="${loginUser.telephone}"><br>
                        <div>
                            <input type="button" value="수정하기" onclick="change_info()" class="btn">
                            <input type="button" value="취소" onclick="location.href='/mypage';" class="btn">
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
    </div>

    <!-- 푸터 -->
    <th:block th:insert="~{include/footer}"></th:block>
</body>
</html>
