<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script th:src="@{/js/mypage.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
</head>
<body>
<nav id="my_menu">
    <ul>
		<li><a th:href="@{/infoView}"><i class="fas fa-user"></i>&nbsp;내 정보</a></li>
		<li><a th:href="@{/infoUpdate}"><i class="fas fa-pen"></i>&nbsp;내 정보 수정</a></li>
		<li><a th:href="@{/bookMark}"><i class="bookMark"></i>&nbsp;내 북마크</a></li>
		<li><a th:href="@{/recommend}"><i class="recommend"></i>&nbsp;내 추천 목록</a></li>
		<li><a th:href="@{/guestBook}"><i class="guestBook"></i>&nbsp;내 방명록</a></li>
		<li><a th:href="@{/KampingNews}"><i class="KampingNews"></i>&nbsp;캠핑 뉴스</a></li>
		<li><a th:href="@{/Outdoor}"><i class="Outdoor"></i>&nbsp;아웃도어</a></li>
    </ul>
</nav>
</body>
</html>
