<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recommended Camping Sites</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <h1>Recommended Camping Sites</h1>

        <div class="recommendations">
            <h2>Recommendations</h2>
            <table>
                <thead>
                    <tr>
                        <th>Content ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="camping : ${recommendedCampingList}">
                        <td th:text="${camping.addr1}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
