<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" name="viewport"
	content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<title>캠핑용품 구입</title>
</head>
<body>
<h3>캠핑용품 구입하기</h3>
	<!-- 검색란 -->
	<form id="searchForm" name="searchForm" method="get" onsubmit="return submitSearch()">
		<input type="text" name="searchKeyword" id="searchKeyword" placeholder="물품명을 입력해주세요"> 
		<a href="#" onclick="submitSearch()">검색버튼</a>
	</form>
<div id="shopping_list"></div>
</body>
<script>
function submitSearch() {
    var keyword = $('#searchKeyword').val();
    if (keyword.trim() === '') {
        alert('검색어를 입력해주세요.');
        return false;
    }

    $.ajax({
        url: '/shoppingsearch',
        type: 'GET',
        data: {
            searchKeyword: keyword
        },
        success: function(response) {
            $('#shopping_list').html(response);
        },
        error: function(error) {
            console.log(error);
        }
    });
    return false;
}
</script>
</html>
