<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공지사항 상세 정보</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body id="admin-body">
	<nav class="admin-nav">
        <div class="admin-side"><!--테두리-->
            <a class="admin-a" th:href="@{/admin_main}">관리자 메인</a>
        </div>
        <div class="admin-side">
            <a class="admin-a" th:href="@{/memberList.do}">
                <i class="fas fa-tachometer-alt"></i>&nbsp;회원 목록
            </a>
            <hr>
            <a class="admin-a" href="admin_QnA.do">Q&A 게시판</a><br>
			<a class="admin-a" href="admin_ask.do">1:1 문의 게시판</a><br>
			<a class="admin-a" href="admin_noticelist.do">공지사항 게시판</a><br>
			<a class="admin-a" href="admin_eventlist.do">이벤트 게시판</a><br>
			<a class="admin-a" href="admin_bookinglist.do">예약 목록</a>
        </div>
        <div class="admin-side">
            <h4>관리자 계정 : [[${loginUser.id}]]</h4>
            <a class="admin-a" th:href="@{/admin_logout}">로그아웃</a>
        </div>
    </nav>
    <main id="admin-main">
        <div class="admin-content">
            <h1>공지사항 & 이벤트 상세 정보</h1>
            <div class="content-box">
                <h5 style="text-align:center;">
                | 작성자: <span th:text="${notice.member_data.name}"></span> || 
                작성일: <span th:text="${#dates.format(notice.notice_date, 'yyyy-MM-dd')}"></span> |
                </h5>
                <form class="form-1" action="/admin_updateNotice" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="notice_seq" th:value="${notice.notice_seq}">
                    <input type="hidden" name="notice_cate" th:value="${notice.notice_cate}">
                    <div class="form-group">
                        <label for="noticeTitle">제목</label>
                        <input type="text" class="form-control" id="noticeTitle" name="notice_title" th:value="${notice.notice_title}">
                    </div>
                    <div class="form-group">
                        <label for="noticeContent">내용</label>
                        <textarea class="form-control" id="noticeContent" name="notice_content" rows="5" th:text="${notice.notice_content}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="file">첨부 파일</label>
                        <input type="file" id="file" name="file">
                    </div>
                    <button type="submit" class="btn btn-primary">저장</button>
                    <a href="/admin_noticelist.do" class="btn">취소</a>
                </form>
                <div style="text-align:center; margin-top:10px;">
                    <a th:href="${notice.notice_cate == 'event' ? '/admin_eventlist.do' : '/admin_noticelist.do'}" class="btn btn-primary">목록으로 돌아가기</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
