<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>캠핑 즐기기</title>
</head>
<body>
    <h1>캠핑 즐기기</h1><br><br>
    
    1. 아이랑 캠핑가서 뭐하고 놀지?<br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/IA4B-rUQlrQ?si=3DE_QvxTAa3nGH9l" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
     allowfullscreen></iframe><br><br><br>
     
    2. 캠핑장에서 하기 좋은 보드게임<br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ehYwgiB4Gig?si=xAtcDn-12D5xgIJp" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
     allowfullscreen></iframe><br><br><br>
    
    3. 감성 캠핑 기분내기<br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/yvY_5o70ZBE" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
     allowfullscreen></iframe><br><br><br>
     
    4. 캠핑요리 10선<br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/15r6xqmKi8g?si=3CmZY0IgCL9rwhrK" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
     allowfullscreen></iframe><br>
    
</body>
</html>
