<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript" th:src="@{js/ReviewDetail.js}"></script>
<link rel="stylesheet" th:href="@{/css/review.css}">
<title>리뷰 글</title>
</head>
<body id="replyjs">
<!-- 헤더 -->
<th:block th:insert="~{include/header}"></th:block>
<div class="review-detail">
	<h3>리뷰 상세페이지</h3>
	<form name="frm" method="post">
		<input type="hidden" name="review_seq" id="review_seq" th:value="${reviewVO.review_seq}">
		<input type="hidden" name="login" id="login" th:value="${session.loginUser != null}">
		<table>
			<tr>
				<!-- 버튼들 / 공유, 추천, 북마크 -->
				<td><a href="#" onclick="copyboard()"> 공유하기</a>
				 <th:block
						th:if="${session.goodPointStatusMap != null and session.goodPointStatusMap[reviewVO.review_seq] == 'on'}">
						<a href="#" th:attr="data-seq=${reviewVO.review_seq}"
							onclick="goodpoint_plus(this)">추천해제 [[${reviewVO.goodpoint}]]</a>
					</th:block> <th:block
						th:if="${session.goodPointStatusMap == null or session.goodPointStatusMap[reviewVO.review_seq] != 'on'}">
						<a href="#" th:attr="data-seq=${reviewVO.review_seq}"
							onclick="goodpoint_plus(this)">추천하기 [[${reviewVO.goodpoint}]]</a>
					</th:block> <th:block
						th:if="${session.bookmarkStatusMap != null and session.bookmarkStatusMap[reviewVO.review_seq] == 'on'}">
						<a href="#" th:attr="data-seq=${reviewVO.review_seq}"
							onclick="bookmark_plus(this)">북마크해제 [[${reviewVO.bookmark}]]</a>
					</th:block> <th:block
						th:if="${session.bookmarkStatusMap == null or session.bookmarkStatusMap[reviewVO.review_seq] != 'on'}">
						<a href="#" th:attr="data-seq=${reviewVO.review_seq}"
							onclick="bookmark_plus(this)">북마크하기 [[${reviewVO.bookmark}]]</a>
					</th:block>
			</tr>
		</table>

		<!-- 상세내용 -->
		<h2>제목 :[[${reviewVO.title}]]</h2>
		<h3>캠핑장 : [[${reviewVO.kakao_name}]]</h3>
		<h3>등록일 : [[${#dates.format(reviewVO.write_date, "yyyy-MM-dd")}]]</h3>
		<h3>작성자 : [[${reviewVO.member_data.id}]]</h3>
		<h3>조회수 : [[${reviewVO.cnt}]]</h3>
		<h3>리뷰내용 :</h3>
		<div th:utext="${reviewVO.content}"></div>
	</form>

	<!-- 댓글입력 -->
	<h3>Comment</h3>
	<form name="replyfrm" method="post">
		<input type="hidden" name="review_seq" id="review_seq"
			th:value="${reviewVO.review_seq}">
		<table id="Board_deatail_List">
			<tr>
				<td colspan="2"><textarea name="reply_content"
						id="reply_content" rows="3" cols="50"></textarea> <input
					type="button" value="저장" onClick="reply_save()"></td>
			</tr>
		</table>
	</form>

	<!-- 댓글 목록 -->
	<form name="reply" method="post">
		<table id="reply_list">
			<tr>
				<th>댓글</th>
			</tr>
			<th:block th:each="replyVO : ${ReplyList}">
				<tr th:attr="data-replynum=${replyVO.replynum}">
					<td>[[${replyVO.member_data.id}]]</td>
					<td><span th:text="${replyVO.content}"
						th:attr="data-content-view=${replyVO.replynum}">Reply
							Content</span> <textarea th:attr="data-content-edit=${replyVO.replynum}"
							style="display: none;" th:text="${replyVO.content}"></textarea></td>
					<td
						th:if="${session.loginUser != null and replyVO.member_data.id.equals(session.loginUser.id)}">
						<button th:attr="data-replynum=${replyVO.replynum}"
							onclick="toggleEditMode(this, event);">수정</button>
						<button
							th:attr="data-replynum=${replyVO.replynum},data-save-button=${replyVO.replynum}"
							onclick="saveChanges(this, event);" style="display: none;">저장</button>
						<button
							th:attr="onclick='deleteReply(' + ${replyVO.replynum} + ', event)'">삭제</button>
					</td>
				</tr>
			</th:block>
		</table>
	</form>

	<!-- 버튼들 -->
	<form name="buttonfrm" method="get">
		<input type="hidden" value="[[${reviewVO.review_seq}]]"> <input
			type="button" value="목록" onClick="go_list()">
		<th:block
			th:if="${session.loginUser != null and (reviewVO.member_data.no_data)==(session.loginUser.no_data)}">
			<input type="button" value="수정" onClick="review_update()">
			<input type="button" value="삭제" onClick="review_delete()">
		</th:block>
	</form>
</div>
</body>
</html>