<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>관리자 페이지(Admin)</title>
<link
	href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css"
	rel="stylesheet" />
<link href="/css/admin_styles.css" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/admin.css}">
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
	crossorigin="anonymous"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
// 폼 제출 함수
function submitFormAndCloseWindow() {
    var form = document.querySelector('.form-1');
    var formData = new FormData(form);

    // AJAX를 사용하여 폼 데이터 제출
    fetch(form.action, {
        method: 'POST',
        body: formData
    }).then(response => {
        if (response.ok) {
            alert('답변이 등록되었습니다.');
            window.close();  // 응답이 성공적이면 창 닫기
        } else {
            window.close()
        }
    }).catch(error => {
        window.close()
    });

    return false; // 기본 폼 제출 동작 방지
}

function go_close(){
	window.close()
}
</script>

</head>
<body id="admin-body">
	
	<main id="admin-main">
        <div class="admin-content">
			<h1>1:1 답변</h1>
			<div class='content-box'>
                <form class='form-1' name="BoardForm" action="askUpdate.do"
                    method="post" enctype="multipart/form-data">
                    <input type="hidden" name="askNum" th:value="${ask.inquiry_id}">
                    <input class='write-1' type="text" name="subject" maxlength="44"
                        placeholder="제목 입력, 최대 44자까지 가능합니다" th:value="${ask.subject}"
                        readonly="readonly">
                    <hr>
                    <textarea class='write-2' name="message" rows="20" cols="20"
                        maxlength="254" placeholder="내용 작성,최대 254자 가능합니다" readonly="readonly">[[${ask.message}]]</textarea>
                    <hr>
                    <textarea class='write-2' name="comments" rows="20" cols="20"
                        maxlength="254" placeholder="내용 작성,최대 254자 가능합니다" required th:if="${end_view != 'view'}"></textarea>
                    <textarea class='write-2' name="comments" rows="20" cols="20"
                        maxlength="254" placeholder="내용 작성,최대 254자 가능합니다" required th:if="${end_view == 'view'}">[[${ask.comments}]]</textarea>
                    <button type="submit" onclick="submitFormAndCloseWindow()" th:if="${end_view != 'view'}">답변 등록</button>
                    <button type="reset" th:if="${end_view != 'view'}">다시 입력</button>
                    <button type="button" onclick="go_close()" th:if="${end_view == 'view'}">닫 기</button>
                </form>
            </div>
    </main>
</body>
</html>