<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" th:href="@{/css/camping.css}">
<title>검색 결과</title>
<style>
#goBackButton {
	position: fixed;
	top: 100px;
	right: 20px;
	padding: 10px 10px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background-color: skyblue; /* 버튼 배경색 */
	color: #fff; /* 버튼 텍스트 색상 */
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#goBackButton:hover {
	background-color: deepskyblue;
}
.home-icon {
	position: fixed;
	top: 20px;
	right: 20px;
	font-size: 40px;
	cursor: pointer;
	color:skyblue;
}
.home-icon:hover {
	color: deepskyblue;
}
</style>
</head>
<body class="search">
    <div class="searchcontainer">
    	<a th:href="@{/main}" class="home-icon"><i class="fas fa-home"></i></a>
    	<button id="goBackButton"><i class="fas fa-undo"></i></button>
		<script>
			// 버튼 요소를 가져옵니다.
			const goBackButton = document.getElementById('goBackButton');

			// 버튼 클릭 시 이전 페이지로 이동하는 함수를 설정합니다.
			goBackButton.addEventListener('click', function() {
				// history 객체의 back 메서드를 호출하여 이전 페이지로 이동합니다.
				history.back();
			});
		</script>
		
        <h1 class="search1">캠핑장 리스트</h1>
        
       
        <div th:if="${#lists.isEmpty(goCampingList)}" class="no-results">검색 결과가 없습니다.</div>
        <ul>
            <li th:each="camp : ${goCampingList}">
            <div class="c_list update">
                <h2 class="camp_tt">[[${camp.facltNm}]]</h2><br>
                
                    <a th:href="@{/detailView(contentId=${camp.contentId})}" class="dc_none"><br>
                        <th:block th:if="${camp.firstImageUrl != null}">
                           <div class="img_box">
                               <img th:src="@{${camp.firstImageUrl}}" alt="캠핑장 이미지">
                           </div>  
                        </th:block>
                        <th:block th:if="${camp.firstImageUrl == null}">
                           <div class="img_box">
                               <img src="https://www.gocamping.or.kr/img/2018/layout/noimg.jpg" alt="캠핑장 이미지">
                           </div>  
                        </th:block>
                    </a>
                    
                    <div class="camp_cont">
                        <span class="camp_stt" th:text="${camp.intro}">일몰과 바다 전망이 장관인 솔섬오토캠핑장.</span>
                        <span class="camp_txt" th:if="${camp.intro}">
                            <span th:text="${camp.intro}">캠핑장 소개 텍스트</span>
                        </span>
                        <ul class="camp_info01">
                            <li class="addr" th:text="${camp.addr1}">주소 텍스트</li>
                            <li class="call_num" th:text="${camp.tel}">전화번호</li>
                        </ul>
                        <!-- 아이콘 모음 -->
                        <div class="camp_item_box">
                            <ul>
                                <li th:if="${camp.sbrsCl != null and camp.sbrsCl.contains('전기')}"><i class="ico_volt"><span>전기</span></i></li>
                                <li th:if="${camp.sbrsCl != null and camp.sbrsCl.contains('와이파이')}"><i class="ico_wifi"><span>와이파이</span></i></li>
                                <li th:if="${camp.sbrsCl != null and camp.sbrsCl.contains('장작판매')}"><i class="ico_wood"><span>장작판매</span></i></li>
                                <li th:if="${camp.sbrsCl != null and camp.sbrsCl.contains('온수')}"><i class="ico_hotwater"><span>온수</span></i></li>
                                <li th:if="${camp.sbrsCl != null and camp.sbrsCl.contains('물놀이장')}"><i class="ico_pool"><span>물놀이장</span></i></li>
                                <li th:if="${camp.sbrsCl != null and camp.sbrsCl.contains('놀이터')}"><i class="ico_playzone"><span>놀이터</span></i></li>
                                <li th:if="${camp.sbrsCl != null and camp.sbrsCl.contains('운동시설')}"><i class="ico_ico_sports"><span>운동시설</span></i></li>
                            </ul>
                        </div>
                        <!-- //아이콘 모음 -->
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>
