<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>고객센터</title>

<script>
function openInPopup(url) {
    window.open(url, '_blank', 'width=800,height=600,scrollbars=yes,resizable=yes');
}
</script>
</head>
<body>
<th:block th:insert="~{include/header.html}"></th:block>
    <div class="container1">
        <h1>고객센터</h1>

        <!-- QnA 링크 -->
        <a class="link" href="/qna/all"> <i class="fas fa-question-circle blue-icon"></i> Q&A</a>

        <!-- 1:1 문의 링크 -->
        <a class="link" href="/inquiry/inquiryForm"> <i class="fas fa-comments red-icon"></i> 1:1 문의 작성</a>

        <!-- 1:1 문의 내역 링크 -->
        <a class="link" href="/inquiry/inquiryList"> <i class="fas fa-list green-icon"></i> 1:1 문의 내역</a>

        <a id="chatbot-icon" href="javascript:void(0);" onclick="openInPopup('/chat')"><i class="fas fa-robot"></i></a><br>
<a id="calorie-icon" href="javascript:void(0);" onclick="openInPopup('/cal')"><i class="fas fa-calculator"></i></a>

        
    </div>

</body>
<th:block th:insert="~{include/footer.html}"></th:block>
</html>