<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Main</title>
<link rel="stylesheet" th:href="@{/css/main.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-scrollbars/1.1.0/chartjs-plugin-scrollbars.min.js"></script>

<!-- <script src="jquery.ajax-cross-origin.min.js"></script> -->
<!-- 크로스도메인 해결 플러그인 -->
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/weather1.js}"></script>
</head>
<body>
	<!-- 헤더 -->
	<th:block th:insert="~{include/header}"></th:block>
	<div class="w-container">
		<!-- 날씨 왼쪽 -->
		<div id="weatherInfo">
			<p><span id="currentWeather"></span></p>
			<p><span id="maxTemperature"></span> / <span id="minTemperature"></span></p>
			<p>하늘 상태 : <span id="skyStatus"></span></p>
		</div>
		<div id="weatherChart" style="width: 400px; height: 200px;">
			<h3 style="display: inline;">날씨 그래프</h3>
			&nbsp;&nbsp;&nbsp; <span class="clickable" id="today"> 오늘 </span> <span
				class="clickable" id="tomorrow"> 내일 </span> <span class="clickable"
				id="dayAfterTomorrow"> 모레 </span>
			<canvas id="temperatureChartCanvas"></canvas>
		</div>
		<div>일출 / 일몰 자리</div>
	    
	</div>
	<!-- 푸터 -->
	<th:block th:insert="~{include/footer}"></th:block>
</body>
</html>
