<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Main</title>
<link rel="stylesheet" th:href="@{/css/main.css}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a77e619adb52e6d650de29bcd7ef2670&libraries=services,clusterer,drawing"></script>
<script th:src="@{/js/main.js}"></script>
</head>
<body>
<!-- 헤더 -->
<th:block th:insert="~{include/header}"></th:block>
    <div class="container">
        <!-- 날씨 test -->
        <div id="weather">
        	<ul>
				<li class="temperature"></li>
				<li class="place"></li>
				<li class="description"></li>
				<li><img class="w-icon"></li>
			</ul>
        </div>
        <!-- 지도 test -->
        <div id="map" style="width:200px; height:200px;"></div>
        <div class="daily-forecast">
        <!-- 날씨 정보가 이곳에 동적으로 추가 -->
    	</div>
        <!-- 고캠핑 test -->
        <div id="go-camping">
            <label>아이콘 + 주변 캠핑장 목록</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>
                <select name="distance" id="distance">
                    <option value="10km">5km</option>
                    <option value="20km">10km</option>
                    <option value="30km">20km</option>
                    <option value="40km">30km</option>
                </select>
            </span>
            <ul id="campingList"></ul>
        </div>
    </div>
<!-- 푸터 -->
<th:block th:insert="~{include/footer}"></th:block>
</body>
</html>
