<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>검색 결과</title>
</head>
<body>
    <h1>캠핑장 리스트</h1>
    <ul>
        <li th:each="camp : ${goCampingList}">
            <h2 th:text="${camp.facltNm}">캠핑장 이름</h2>
            <p>
                <strong>도:</strong> <span th:text="${camp.doNm}">도 이름</span><br>
                <strong>구/군:</strong> <span th:text="${camp.sigunguNm}">구/군 이름</span><br>
                <strong>소개:</strong> <span th:text="${camp.intro}">소개 텍스트</span><br>
                <strong>주소:</strong> <span th:text="${camp.addr1}">주소 텍스트</span><br>
                <strong>전화:</strong> <span th:text="${camp.tel}">전화번호</span><br>
                <strong>편의시설:</strong> <span th:text="${camp.sbrsCl}">편의시설 텍스트</span>
            </p>
            <div>
                <img th:src="${camp.firstImageUrl}" alt="캠핑장 이미지" style="width:200px;height:auto;">
            </div>
        </li>
    </ul>
    
    <div th:if="${totalPages > 0}" id="pagination">
        <span th:if="${currentPage > 1}">
            <a th:href="@{/getSearchList(doNm=${param.doNm}, gungu=${param.gungu}, faclt=${param.faclt}, lct=${param.lct}, induty=${param.induty}, bottom=${param.bottom}, sbrs=${param.sbrs}, page=1)}">First</a>
            <a th:href="@{/getSearchList(doNm=${param.doNm}, gungu=${param.gungu}, faclt=${param.faclt}, lct=${param.lct}, induty=${param.induty}, bottom=${param.bottom}, sbrs=${param.sbrs}, page=${currentPage - 1})}">Previous</a>
        </span>
        <span th:each="i : ${#numbers.sequence(1, totalPages)}">
            <a th:href="@{/getSearchList(doNm=${param.doNm}, gungu=${param.gungu}, faclt=${param.faclt}, lct=${param.lct}, induty=${param.induty}, bottom=${param.bottom}, sbrs=${param.sbrs}, page=${i})}" th:text="${i}" th:class="${i == currentPage ? 'active' : ''}">1</a>
        </span>
        <span th:if="${currentPage < totalPages}">
            <a th:href="@{/getSearchList(doNm=${param.doNm}, gungu=${param.gungu}, faclt=${param.faclt}, lct=${param.lct}, induty=${param.induty}, bottom=${param.bottom}, sbrs=${param.sbrs}, page=${currentPage + 1})}">Next</a>
            <a th:href="@{/getSearchList(doNm=${param.doNm}, gungu=${param.gungu}, faclt=${param.faclt}, lct=${param.lct}, induty=${param.induty}, bottom=${param.bottom}, sbrs=${param.sbrs}, page=${totalPages})}">Last</a>
        </span>
    </div>
</body>
</html>
