<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript" th:src="@{js/Book.js}"></script>
<title>예약결과</title>
</head>
<body>
<button type="button" onclick="goBookList()">목록으로 </button>
    <h3>예약결과</h3>
    <form name="frm" id="frm">
    <input type="hidden" name="bookseq" th:value="${BookVO.bookseq}" />
    예약일자 : [[${#dates.format(BookVO.bookdateS, 'yyyy-MM-dd')}]] ~ [[${#dates.format(BookVO.bookdateE, 'yyyy-MM-dd')}]] <br>
    캠핑장명 : [[${BookVO.campingname}]]<br>
    인원수 : [[${BookVO.headcount}]] 명<br>
    예약자 성함: [[${BookVO.member_data.name}]]<br>
    연락처 : [[${BookVO.member_data.telephone}]]<br>
    예약관련 상세 : [[${BookVO.message}]]<br>
    상태 : <span id="condition" th:data-condition="${BookVO.condition}" th:switch="${BookVO.condition}">
        <span th:case="0">대기중</span>
        <span th:case="1">예약완료</span>
        <span th:case="2">예약불가</span>
    </span>
    <button type="button" onclick="bookupdate()">예약 수정</button>
    <button type="button" onclick="bookdelete()">예약 취소</button>
    </form>
    <p>이미 확정된 예약은 수정 및 취소가 불가능합니다. 해당 캠핑장으로 직접 연락주세요.</p>
</body>
</html>
